@media (max-width: 1200px) {
    .menu-header-nav-div {
        display: none;
    }
}

@media (max-width: 1000px) {
    .wallpaper-section-div-p-description {
        width: 70%;
    }
}

@media (max-width: 900px) {
    .wallpaper-section-div-p-description {
        width: 85%;
    }
}

